#email-container {
   padding: 1em 0em 2em 0em;
}

#email-row-container {
   display: flex; 
   align-items: baseline;
   flex-direction: row;
   width: 100%;
} 

#icons {
   display: flex;
   width: 5%;
   justify-content: space-between;
} 

#sender {
   width: 25%;
   padding: 0em 2em 0em 2em;
} 

#subject {
   width: 60%;
} 

#date {
   width: 10%;
}