.email-row-container {
   display: flex; 
   align-items: baseline;
} 

#icons {
   display: flex;
   width: 5%;
   justify-content: space-between;
} 

#sender {
   width: 20%;
   padding: 0em 2em 0em 2em;
} 

#subject {
   width: 60%;
} 

#date {
   width: 10%;
}